<h1>Edit Wardrobe</h1>

<form action="/wardrobes/edit/<%=@wardrobe.id%>" method="POST">
<input type="hidden" name="_method" value="PATCH">

Wardrobe Name: <input type="text" name="wardrobe[name]" value="<%=@wardrobe.name%>"><br>

<h1>Select Category to Update</h1>
<% @wardrobe.categories.each do |category| %>
<input type="radio" name="name" value="<%=category.name%>"> <%=category.name%><br>
<% end %><br>
Enter New Category Name: <input type="text" name="category[name]"><br><br>


<input type="submit" value="Edit Wardrobe">
<% if flash.has?(:message) %>
<h5><%=flash[:message]%></h5>
<% end %>
</form>

<a href="/wardrobes">Back to Wardrobes</a><br>
<a href="/users/<%=current_user.slug%>">Back to Profile</a><br>
<a href="/logout">Log Out</a>
