<h1> Wardrobes</h1>
<% if current_user.wardrobes.empty? %>
<%="You have no wardrobes yet!"%><br><br>
<a href="/wardrobes/new">Create A New Wardrobe</a>
<% end %>

<% current_user.wardrobes.each_with_index do |wardrobe,index| %>
<%= "#{index+1}. " %><a href="/wardrobes/<%=wardrobe.id%>"><%= wardrobe.name %><br></a>
  <% wardrobe.categories.each do |category| %>
  <% end%>
<% end %>
<br><br>
<a href="/users/<%=current_user.slug%>">Return to Your Homepage</a>
