<h1> Wardrobes</h1>
  <% if current_user.wardrobes.empty? %>
    <%="You have not created a wardrobe"%><br><br>
  <% end %>

  <% current_user.wardrobes.each_with_index do |wardrobe,index| %>

    <%= "#{index+1}. " %>
    <a href="/wardrobes/<%=wardrobe.id%>"><%= wardrobe.name %></a><br><br>

    <form action="/wardrobes/<%=wardrobe.id%>/delete" method="POST">

      <input id="hidden" type="hidden" name="_method" value="delete"><input type="submit" value="Delete Wardrobe" ></form>

  <% end %><br>

<a href="/wardrobes/new">Add New Wardrobe</a><br><br>
<a href="/items/items">Item Collection</a><br>
<a href="/users/<%=current_user.slug%>">Profile</a><br>
<a href="/logout">Log Out</a>
