<h1>Add New Item to <%=@wardrobe.name%> Wardrobe</h1>

<form action="/items/new" method="POST">
<h3>Which category would you like to add the item to?</h3>
<% @wardrobe.categories.each do |category| %><br>
<input type="radio" name="category[id]" value="<%=category.id%>">  <%=category.name%>

<%end%><br><br><br>
Item Name: <input type="text" name="name"><br>
Item Brand: <input type="text" name="brand"><br><br>


<input type="submit" value="Add Item"><% if flash.has?(:message) %>
<h5><%=flash[:message]%></h5>
<% end %>
</form>

<a href="/wardrobes/<%=@wardrobe.slug%>">Back to <%=@wardrobe.name%> Wardrobe</a><br>
<a href="/wardrobes">Wardrobes</a><br>
<a href="/users/<%=current_user.slug%>"> Profile</a><br>
<a href="/logout">Log Out</a>
